*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins", sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url(images/backgroung1.webp);
    

}
.wrapper{
    width: 750px;
    background:rgba(255, 255,255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #333;
    padding: 40px 35px 55px;
    margin:0 10px;


}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #e4b95b;
   

}
.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.input-box .input-filed{
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;

}
.input-box .input-filed input{
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #333;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;

}
.input-box .input-filed input::placeholder{
    color: #333;
}
.input-box .input-filed i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper label{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 23px;
    color: #fff;
}
.wrapper label input{
    accent-color: #fff;
    margin-right: 5px;

}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    background-color: #e4b95b;

}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.6);
}
header *{
    z-index: 10;
}

